@font-face {
  font-family: Gilroy;
  src: local('Gilroy'), url("/fonts/Gilroy-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: local('Gilroy'), url("/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
}
